@import "general/normalize";
@import "../libs/swiper/swiper";
@import "../libs/animate";
@import "../libs/bootstrap/bootstrap.min";
@import "../../node_modules/rfs/scss";
@import "general/variables";
@import "general/mixins";
@import "general/global";
@import "general/container";
@import "general/btn";
@import "general/link";
@import "general/list";
@import "general/input";
@import "general/title";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/breadcrumbs";
@import "blocks/card";
@import "blocks/menu";
@import "blocks/desk-menu";
@import "blocks/shade";
@import "blocks/slider";
@import "blocks/footer";
@import "blocks/marker";
@import "blocks/quantity";
@import "blocks/appeal-block";
@import "blocks/pharmacies";
@import "blocks/colors-block";
@import "blocks/nav";
@import "blocks/accordion";
@import "blocks/advantages";
@import "blocks/filter";
