.goods-analogs__item {
  border-bottom: 1px solid rgba(67, 66, 66, 0.15);
}

.goods-analogs {
  height: 363px;
  padding-right: 25px;
  overflow-y: scroll;

  @media (max-width: $media-tb) {
    padding-right: 10px;
    height: 337px;
  }

  @media (max-width: $media-sm) {
    height: 416px;
  }
}