.card {
  width: 100%;
  border: none;
  background-color: $white;
  border-radius: 12px;
}

.date {
  position: relative;
  font-weight: 300;
  padding-left: 25px;
  color: rgba(67, 66, 66, 0.7);
  font-size: 14px;
  margin-bottom: 0;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background: url("../img/icons/calendar.svg") 50% 50% no-repeat;
  }
}

.card--news {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100%;
  min-height: 345px;
  border: 1px solid rgba(67, 66, 66, 0.15);

  @media (max-width: $media-td) {
    min-height: 330px;
  }

  @media (max-width: $media-tb) {
    min-height: 310px;
  }

  &.card--lg {
    .fw-600 {
      font-size: 20px;
      margin-bottom: 8px;
    }

    @media (max-width: $media-td) {
      .fw-600 {
        font-size: 16px;

        &+p {
          display: none;
        }
      }
    }
  }

  .card__side {
    height: 215px;
    border-radius: 12px 12px 0 0;

    @media (max-width: $media-td) {
      height: 180px;
    }
  }

  .card__main {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: calc(100% - 215px);

    .date {
      margin-top: auto;
    }

    @media (max-width: $media-td) {
      height: calc(100% - 180px);
    }
  }

  @media (min-width: $media-tb) {
    &:hover {
      border-color: $green;
    }
  }
}

.card--good {
  border: 1px solid rgba(67, 66, 66, 0.15);
  border-radius: 12px;
  transition: all 0.3s;

  .basket {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $green;

    @media (min-width: $media-tb) {
      &:hover {
        background-color: $red;
      }
    }
  }

  .card__title {
    height: 88px;
    transition: all 0.3s;
    overflow: hidden;
  }

  @media (min-width: $media-tb) {
    &:hover {
      border-color: $green;
    }
  }

  .card__link {
    @media (min-width: $media-tb) {
      &:hover {
        .card__title {
          color: $green;
        }
      }
    }
  }

  .price {
    font-size: 24px;
    font-weight: 600;
  }

  .card__prices {
    position: relative;
  }

  .card__price {
    &--new {
      font-size: 22px;
      color: $red-2;
    }

    &--old {
      position: relative;
      font-size: 14px;
      color: rgba(67, 66, 66, 0.5);
      width: fit-content;

      &::before {
        position: absolute;
        content: "";
        height: 1.5px;
        width: 100%;
        left: 0;
        top: 46%;
        transform: rotate(17deg);
        background-color: $red-2;
      }
    }
  }

  .card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 155px;
  }
}

.card__controls {
  position: absolute;
  right: 15px;
  top: 15px;
}

.card__favorite {
  margin-bottom: 8px;

  label {
    margin-bottom: 0;
  }

  svg {
    fill: none;
    transition: all 0.3s;

    &:nth-of-type(2) {
      display: none;
    }
  }

  span {
    display: inline-block;
    cursor: pointer;

    @media (min-width: $media-tb) {
      &:hover {
        svg {
          stroke: rgba(67, 66, 66, 0.15);
        }
      }
    }
  }

  input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  input:checked + span {
    svg {
      &:first-of-type {
        display: none;
      }

      &:nth-of-type(2) {
        display: block;
      }
    }
  }
}

.card__meds {
  margin-bottom: 8px;
}

.card__info {
  cursor: pointer;
}
