.card {
  width: 100%;
  border: none;
  background-color: $white;
  border-radius: 12px;
}

.date {
  position: relative;
  font-weight: 300;
  padding-left: 25px;
  color: rgba(67, 66, 66, 0.7);
  font-size: 14px;
  margin-bottom: 0;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background: url("../img/icons/calendar.svg") 50% 50% no-repeat;
  }
}

.card--news {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100%;
  min-height: 345px;
  border: 1px solid rgba(67, 66, 66, 0.15);

  @media (max-width: $media-td) {
    min-height: 330px;
  }

  @media (max-width: $media-tb) {
    min-height: 310px;
  }

  &.card--lg {
    .fw-600 {
      font-size: 20px;
      margin-bottom: 8px;
    }

    @media (max-width: $media-td) {
      .fw-600 {
        font-size: 16px;

        &+p {
          display: none;
        }
      }
    }
  }

  .card__side {
    height: 215px;
    border-radius: 12px 12px 0 0;

    @media (max-width: $media-td) {
      height: 180px;
    }
  }

  .card__main {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: calc(100% - 215px);

    .date {
      margin-top: auto;
    }

    @media (max-width: $media-td) {
      height: calc(100% - 180px);
    }
  }

  @media (min-width: $media-tb) {
    &:hover {
      border-color: $green;
    }
  }
}
