.footer {
  position: relative;
  background-color: $light-grey;
}

.footer__bottom {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: $media-tb) {
    .container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

.footer__top {
  background-color: $green;

  .fieldset {
    justify-content: flex-end;

    @media (max-width: $media-tb) {
      input {
        max-width: 100%;
      }
    }
  }

  label {
    @media (max-width: $media-md) {
      h3 {
        font-size: 28px;
      }
    }

    @media (max-width: $media-sm) {
      h3 {
        font-size: 22px;
      }

      .fs-18 {
        font-size: 16px;
      }
    }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $media-md) {
      padding: 10px 22px;
    }
  }
}

.footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 1.5rem;
  flex-shrink: 0;

  svg {
    max-width: 75%;
  }

  @media (max-width: $media-md) {
    width: 60px;
    height: 60px;
  }

  @media (max-width: $media-sm) {
    display: none;
  }
}

.footer .logo {
  svg {
    height: auto;
    color: $light-blue;
    transition: all 0.3s;
  }

  p {
    color: $black;
  }

  @media (max-width: $media-td) {
    svg {
      max-width: 155px;
    }

    p {
      font-size: 15px;
    }
  }

  @media (max-width: $media-sm) {
    svg {
      max-width: 125px;
    }

    p {
      font-size: 14px;
    }
  }

  @media (min-width: $media-tb) {
    &:hover {
      svg {
        color: $light-blue;
        // transform: translateY(-2px);
      }
    }
  }
}
