.footer {
  position: relative;
  background-color: $light-grey;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $media-tb) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.footer__top {
  background-color: $green;

  .fieldset {
    justify-content: flex-end;

    @media (max-width: $media-tb) {
      input {
        max-width: 100%;
      }
    }
  }

  label {
    @media (max-width: $media-md) {
      h3 {
        font-size: 28px;
      }
    }

    @media (max-width: $media-sm) {
      h3 {
        font-size: 22px;
      }

      .fs-18 {
        font-size: 16px;
      }
    }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $media-md) {
      padding: 10px 22px;
    }
  }
}

.footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 1.5rem;
  flex-shrink: 0;

  svg {
    max-width: 75%;
  }

  @media (max-width: $media-md) {
    width: 60px;
    height: 60px;
  }

  @media (max-width: $media-sm) {
    display: none;
  }
}

.footer .logo {
  display: flex;
  align-items: flex-end;

  img {
    margin-right: 15px;
  }

  p {
    color: $green;
    font-weight: 500;
    margin-bottom: 0;
    transition: all 0.3s;
  }

  @media (min-width: $media-tb) {
    &:hover {
      p {
        color: $red;
      }
    }
  }

  @media (max-width: $media-md) {
    img {
      width: 70px;
    }
  }

  @media (max-width: $media-dt) {
    img {
      width: 68px;
    }
  }

  @media (max-width: $media-td) {
    img {
      width: 60px;
    }
  }
}
