.header {
  // position: fixed;
  // left: 0;
  // top: 0;
  width: 100%;
  padding: 0 0 20px;
  background-color: $white;
  z-index: 8;
  transition: all 0.2s;
}

.header__top {
  transition: all 0.2s;
  padding: 6px 0 0;
  margin-bottom: 0.8rem;
  background-color: $light-grey;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  transition: all 0.2s;

  @media (max-width: $media-td) {
    margin-bottom: 0.8rem;
  }
}

.header__bottom {
  display: flex;
  align-items: flex-start;
}

.header .logo {
  display: flex;
  align-items: center;

  img {
    margin-right: 25px;
  }

  p {
    font-size: 25px;
    color: $green;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1;
    transition: all 0.3s;
  }

  @media (min-width: $media-tb) {
    &:hover {
      p {
        color: $red;
      }
    }
  }
}

.header__form {
  width: 100%;

  input {
    padding-left: 45px;
    background: url("../img/icons/search.svg") 16px 50% no-repeat;
    background-size: 20px 20px;

  }

  label {
    width: 100%;
    margin-bottom: 0;
  }

  .btn {
    padding: 11px 30px;
  }
}

.goods-number {
  position: absolute;
  right: -8px;
  top: 0;
  background-color: $green;
  color: $white;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
  padding: 0.8px 4px;
}

.header.scroll {
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  box-shadow: 2px 2px 20px rgba(4, 20, 106, 0.12);

  .header__middle {
    margin-bottom: 0.5rem;
  }

  .header__top {
    margin-bottom: 0.8rem;
  }
}

.burger {
  @include reset-button;

  position: relative;
  display: flex;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 32px;
  padding: 0;
  background: 0 0;
  border: 0;
  cursor: pointer;
  outline: 0 !important;
  transition: 0.3s;
  z-index: 35;
  border-radius: 0;
  overflow: hidden;


  .burger__span {
    display: block;
    width: 30px;
    height: 1.5px;
    background-color: $black;
    transition: 0.45s;
    border-radius: 5px;
    margin-bottom: 6px;
  }

  @media (min-width: $media-tb) {
    &:hover {
      .burger__span {
        background-color: $light-blue;
      }
    }
  }

  &.is-show {
    height: 32px;

    .burger__span {
      background-color: $black;
    }

    .burger__span--1 {
      transform: translateY(9px) rotate(45deg);
    }

    .burger__span--2 {
      transform: translateX(-34px);
    }

    .burger__span--3 {
      transform: translateY(-16px) rotate(-45deg);
    }

  @media not all and (min-resolution:.001dpcm)
  { @supports (-webkit-appearance:none) {

    .burger__span--1 {
      transform: translateY(7px) rotate(45deg);
    }

    .burger__span--3 {
      transform: translateY(-9px) rotate(-45deg);
    }
  }}

  }
}

.user-nav {
  display: flex;

  a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      fill: none;
      margin-bottom: 3px;
    }
  }

  .user-nav__title {
    font-size: 14px;
  }
}

.header .tel {
  font-size: 24px;
  flex-shrink: 0;

  svg {
    margin-right: 12px;
    color: $green;
    transition: all 0.3s;
  }

  @media (min-width: $media-tb) {
    &:hover {
      svg {
        color: $red;
      }
    }
  }
}

.header .pin {
  font-weight: 500;
  padding-bottom: 6px;
  
  svg {
    transition: all 0.3s;
    color: $light-grey-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      svg {
        color: $red;
      }
    }
  }
}