.marker {
  position: absolute;
  left: -5px;
  top: 18px;
  color: $white;
  font-size: 14px;
  padding: 6px 20px;
  border-radius: 3px 20px 20px 0px;

  &::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    left: 0;
    bottom: -4px;
    border-radius: 0 0 0 3px;
  }
}

.marker--red {
  background-color: #F65358;

  &::before {
    background-color: #B83D4C;
  }
}
