.swiper-container {
  user-select: none;
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-button-prev svg {
  transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-button-next {
  outline: none;
  color: $grey;
  z-index: 2;
  top: 54%;
  margin: 0;
  transition: all 0.3s;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
  background-color: $white;

  svg {
    transition: transform 0.3s;
  }

  @media (max-width: 1249px) {
    width: 42px;
    height: 42px;
  }
}

@media (min-width: $media-tb) {
  .swiper-button-prev:hover {
    color: $green;

    svg {
      transform: rotate(180deg) translateX(2px);
    }
  }

  .swiper-button-next:hover {
    color: $green;

    svg {
      transform: translateX(2px);
    }
  }
}

.swiper-button-next {
  right: -45px;
  left: auto;

  @media (max-width: 1299px) {
    right: -25px;
  }

  @media (max-width: 1249px) {
    right: 0;
  }

  @media (max-width: $media-md) {
    right: 10px;
  }
}

.swiper-button-prev {
  right: auto;
  left: -45px;

  @media (max-width: 1299px) {
    left: -25px;
  }

  @media (max-width: 1249px) {
    left: 0;
  }

  @media (max-width: $media-md) {
    left: 10px;
  }
}

.slider-new-goods {
  @media (max-width: 1249px) {
    background-color: transparent;
  }
}

.slider-sale {
  border-radius: 25px;
  overflow: hidden;
  
  li {
    background-color: #FFF9F7;
  }
}

.slider-sale__btns {
  position: absolute;
  bottom: 30px;
  right: 3rem;
  display: flex;

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
  }

  .swiper-button-prev {
    margin-right: 30px;
  }
}

.slider-sale .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #C9D2DC;
  opacity: 1;
}

.slider-sale .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $green;
  opacity: 1;
}

.slider-sale .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px;
}

.slider-sale .swiper-container-horizontal > .swiper-pagination-bullets {
  position: absolute;
  left: 3rem;
  bottom: 30px;
  width: auto;
}

.slider-promo .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $red-2;
  opacity: 1;
}

.slider-promo .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 9px;
}

.slider-promo .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}

.slider-promo .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #C9D2DC;
  opacity: 1;
}

.slider-promo {
  border-radius: 25px;
  overflow: hidden;

  li {
    background-color: $light-blue;
  }

  .swiper-button-next {
    right: -10px;
    left: auto;
  
    @media (max-width: 1249px) {
      right: 0;
    }
  
    @media (max-width: $media-md) {
      right: 5px;
    }
  }
  
  .swiper-button-prev {
    right: auto;
    left: -10px;
  
    @media (max-width: 1249px) {
      left: 0;
    }
  
    @media (max-width: $media-md) {
      left: 5px;
    }
  }
}
