.tabs__list {
  display: flex;
  border-bottom: 1px solid rgba(67, 66, 66, 0.2);

  @media (max-width: $media-sm) {
    flex-wrap: wrap;
    border-bottom: none;
  }
}

.tabs__item {
  font-size: 18px;
  font-weight: 600;

  a {
    position: relative;
    display: block;
    padding: 20px 20px;
    outline: none;
    color: rgba($green, 0.5);

    &::before {
      position: absolute;
      content: "";
      height: 2px;
      width: 0;
      bottom: -2px;
      left: 0;
      background-color: $green;
      transition: all 0.3s;
    }

    &[aria-selected="true"] {
      cursor: default;
      color: $green;
  
      &::before {
        width: 100%;
      }
    }
  }

  @media (max-width: $media-tb) {
    font-size: 14px;

    a {
      padding: 15px;
    }
  }

  @media (max-width: $media-sm) {
    width: 100%;
    border: 1px solid rgba(67, 66, 66, 0.2);
  }
}

.tabs__content {
  li {
    margin-bottom: 15px;
    line-height: 1.5;
  }
}
