extends layouts/layout
include components/modal

block title
  | МП НАС: all pages

block main
  style.
    .pages-list a {
      color: blue;
    }

    .pages-list a:visited {
      color: blue;
    }

    .pages-list a:hover {
      color: blue;
    }

    .level-third {
      padding-left: 1em;
    }
  -
    const pages = [
      {
        innerPages: [
          {
            name: 'Главная страница',
            src: 'main.html'
          },
          {
            name: 'Страница категорий каталога',
            src: 'catalog.html'
          },
          {
            name: 'Страница каталога',
            src: 'catalog-2.html'
          },
          {
            name: 'Страница товара',
            src: 'good.html'
          },
          {
            name: 'Страница новостей',
            src: 'news.html'
          },
        ]
      },
    ];

  ul.list.pl-3.pt-3.pages-list
    each page in pages
      li
        if page.innerPages.length > 0
          each levelSecond in page.innerPages
            p
              a(href=levelSecond.src)
                = levelSecond.name
                if levelSecond.src.length > 0
                  |
                  | ---
                  |
                  = levelSecond.src

  a(id="specialButton")

  .mt-4.pl-3
    a.link.link--grey.mr-auto(href="#" js-popup-open="js-popup-open" data-src="#modal-choose-pharmacy") Модальное окно выбора аптеки

block modal
  +modal()