extends layouts/layout
include components/header
include components/footer
//- include components/desk-menu
//- include components/menu

block title
  | Главная страница

block header
  +header()

block main
  main
    .promo.mb-90
      .container
        .js-promo-slider.slider-promo
          .swiper-container
            ul.list.swiper-wrapper
              li.swiper-slide
                .row
                  .col-4.pt-5.pb-5.ml-5
                    h1.fw-600.mb-3 Настоящее от&nbsp;природы
                    p.fs-20.mb-5 Продукция собственной торговой марки
                    a.btn.btn--green(href="#") Купить

              li.swiper-slide
                .row
                  .col-4.pt-5.pb-5.ml-5
                    h1.fw-600.mb-3 Настоящее от&nbsp;природы
                    p.fs-20.mb-5 Продукция собственной торговой марки
                    a.btn.btn--green(href="#") Купить

            .swiper-pagination

          .swiper-button-next
            svg(width="18" height="18")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow")
          .swiper-button-prev
            svg(width="18" height="18")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow")


    .colors-block.mb-90
      .container
        h2.fw-600.mb-5 Часто ищут

        .row
          .col-md-3.mb-4
            a.link.card(href="#")
              p.fs-22.fw-600 При простуде и ГРИППе
              svg(width="160" height="160")
                use(xlink:href='img/sprite/sprite.svg#icon-1')

          .col-md-3.mb-4
            a.link.card(href="#")
              p.fs-22.fw-600 От отравления
              svg(width="160" height="160")
                use(xlink:href='img/sprite/sprite.svg#icon-2')

          .col-md-3.mb-4
            a.link.card(href="#")
              p.fs-22.fw-600 Экспресс-тесты
              svg(width="160" height="160")
                use(xlink:href='img/sprite/sprite.svg#icon-3')

          .col-md-3.mb-4
            a.link.card(href="#")
              p.fs-22.fw-600 Здоровое питание
              svg(width="160" height="160")
                use(xlink:href='img/sprite/sprite.svg#icon-4')

          .col-md-3.mb-4
            a.link.card(href="#")
              p.fs-22.fw-600 Средства гигиены
              svg(width="160" height="160")
                use(xlink:href='img/sprite/sprite.svg#icon-5')

          .col-md-3.mb-4
            a.link.card(href="#")
              p.fs-22.fw-600 Витамины и БАДы
              svg(width="160" height="160")
                use(xlink:href='img/sprite/sprite.svg#icon-6')

          .col-md-3.mb-4
            a.link.card(href="#")
              p.fs-22.fw-600 Детское питание
              svg(width="160" height="160")
                use(xlink:href='img/sprite/sprite.svg#icon-7')

          .col-md-3.mb-4
            a.link.card(href="#")
              p.fs-22.fw-600 От аллергии
              svg(width="160" height="160")
                use(xlink:href='img/sprite/sprite.svg#icon-8')


    .mb-90
      .container
        .mb-5.title-with-link
          h2.fw-600.pr-3 Акции
          a.link.link--light-grey.link-arrow-animate(href="#")
            span.mr-2 Все акции
            .link-arrow-animate__container
              .link-arrow-animate__svg
                svg.mr-1(width="25" height="10")
                  use(xlink:href="img/sprite/sprite.svg#icon-arrow-long")
                svg(width="25" height="10")
                  use(xlink:href="img/sprite/sprite.svg#icon-arrow-long")


        .js-sale-slider.slider-sale.swiper-container
          ul.list.swiper-wrapper
            li.swiper-slide.d-flex
              .row.w-100
                .col-7
                .col-5.pt-5.pb-5
                  h3.fw-600.mb-5 Бесплатная проверка зрения
                  p.mb-5 Заказывайте очки с 01 февраля по 31 марта 2021 года и получите бесплатную проверку зрения!
                  a.link.link--green.link-arrow-animate.link-arrow-animate--sm(href="#")
                    span Подробнее
                    .link-arrow-animate__container
                      .link-arrow-animate__svg
                        svg.mr-1(width="10" height="10")
                          use(xlink:href="img/sprite/sprite.svg#icon-arrow")
                        svg(width="10" height="10")
                          use(xlink:href="img/sprite/sprite.svg#icon-arrow")

            li.swiper-slide.d-flex
              .row.w-100
                .col-7
                .col-5.pt-5.pb-5
                  h3.fw-600.mb-5 Бесплатная проверка зрения
                  p.mb-5 Заказывайте очки с 01 февраля по 31 марта 2021 года и получите бесплатную проверку зрения!
                  a.link.link--green.link-arrow-animate.link-arrow-animate--sm(href="#")
                    span Подробнее
                    .link-arrow-animate__container
                      .link-arrow-animate__svg
                        svg.mr-1(width="10" height="10")
                          use(xlink:href="img/sprite/sprite.svg#icon-arrow")
                        svg(width="10" height="10")
                          use(xlink:href="img/sprite/sprite.svg#icon-arrow")

          .swiper-pagination

          .slider-sale__btns
            .swiper-button-prev
              svg(width="18" height="18")
                use(xlink:href="img/sprite/sprite.svg#icon-arrow")
            .swiper-button-next
              svg(width="18" height="18")
                use(xlink:href="img/sprite/sprite.svg#icon-arrow")

    .mb-90
      .container
        h2.fw-600.mb-5 Новинки

        .js-new-goods-slider.slider-new-goods
          .swiper-container
            ul.list.swiper-wrapper
              li.swiper-slide.d-flex.p-2
                .card.card--good.p-3
                  .marker.marker--red
                    span -25%
                  .card__controls
                    .card__favorite
                      label
                        input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                        span
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav')
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav-2')
                    .card__meds
                      a.link.d-block(href="#")
                        svg(width="22" height="20")
                          use(xlink:href='img/sprite/sprite.svg#icon-meds')

                  a.link.d-block.card__link(href="#")
                    .card__img.mb-2
                      img(src="/img/good-1.jpg", alt="" width="138" height="137")
                    p.fw-500.card__title Арбидол противовирусное от гриппа и ОРВИ капс. 100мг 20шт
                    p.fs-14.text-muted Новартис Урунлери

                  .d-flex.align-items-center.justify-content-between
                    .card__prices
                      .card__price.card__price--new.price
                        span 190
                        span ₽
                      .card__price.card__price--old.price
                        span 550
                        span ₽

                    a.link.basket(href="#")
                      svg(width='37' height='37')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good.p-3
                  .card__controls
                    .card__favorite
                      label
                        input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                        span
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav')
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav-2')
                    .card__meds
                      a.link.d-block(href="#")
                        svg(width="22" height="20")
                          use(xlink:href='img/sprite/sprite.svg#icon-meds')

                  a.link.d-block.card__link(href="#")
                    .card__img.mb-2
                      img(src="/img/good-2.jpg", alt="" width="171" height="94")
                    p.fw-500.card__title Оциллококцинум гранулы гомеопат. 1г туба 12 шт
                    p.fs-14.text-muted Новартис Урунлери

                  .d-flex.align-items-center.justify-content-between
                    .card__prices
                      .card__price.price
                        span 550
                        span ₽

                    a.link.basket(href="#")
                      svg(width='37' height='37')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good.p-3
                  .card__controls
                    .card__favorite
                      label
                        input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                        span
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav')
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav-2')
                    .card__meds
                      a.link.d-block(href="#")
                        svg(width="22" height="20")
                          use(xlink:href='img/sprite/sprite.svg#icon-meds')
                    .card__info.tool
                      svg(width="26" height="26")
                        use(xlink:href='img/sprite/sprite.svg#icon-info')
                      p.tool__content Реализация осуществляется только по рецепту врача


                  a.link.d-block.card__link(href="#")
                    .card__img.mb-2
                      img(src="/img/good-3.jpg", alt="" width="68" height="140")
                    p.fw-500.card__title Гексорал аэрозоль для мест.пр. 0.2% 40мл фл
                    p.fs-14.text-muted Новартис Урунлери

                  .d-flex.align-items-center.justify-content-between
                    .card__prices
                      .card__price.price
                        span 1 550
                        span ₽

                    a.link.basket(href="#")
                      svg(width='37' height='37')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good.p-3
                  .card__controls
                    .card__favorite
                      label
                        input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                        span
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav')
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav-2')
                    .card__meds
                      a.link.d-block(href="#")
                        svg(width="22" height="20")
                          use(xlink:href='img/sprite/sprite.svg#icon-meds')

                  a.link.d-block.card__link(href="#")
                    .card__img.mb-2
                      img(src="/img/good-4.jpg", alt="" width="69" height="137")
                    p.fw-500.card__title Септолете тотал спрей для мест.прим. дозированный 30мл 250доз фл 1 шт
                    p.fs-14.text-muted Новартис Урунлери

                  .d-flex.align-items-center.justify-content-between
                    .card__prices
                      .card__price.price
                        span 190
                        span ₽

                    a.link.basket(href="#")
                      svg(width='37' height='37')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good.p-3
                  .card__controls
                    .card__favorite
                      label
                        input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                        span
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav')
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav-2')
                    .card__meds
                      a.link.d-block(href="#")
                        svg(width="22" height="20")
                          use(xlink:href='img/sprite/sprite.svg#icon-meds')

                  a.link.d-block.card__link(href="#")
                    .card__img.mb-2
                      img(src="/img/good-3.jpg", alt="" width="68" height="140")
                    p.fw-500.card__title Гексорал аэрозоль для мест.пр. 0.2% 40мл фл
                    p.fs-14.text-muted Новартис Урунлери

                  .d-flex.align-items-center.justify-content-between
                    .card__prices
                      .card__price.price
                        span 1 550
                        span ₽

                    a.link.basket(href="#")
                      svg(width='37' height='37')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good.p-3
                  .card__controls
                    .card__favorite
                      label
                        input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                        span
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav')
                          svg(width="20" height="16")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav-2')
                    .card__meds
                      a.link.d-block(href="#")
                        svg(width="22" height="20")
                          use(xlink:href='img/sprite/sprite.svg#icon-meds')

                  a.link.d-block.card__link(href="#")
                    .card__img.mb-2
                      img(src="/img/good-4.jpg", alt="" width="69" height="137")
                    p.fw-500.card__title Септолете тотал спрей для мест.прим. дозированный 30мл 250доз фл 1 шт
                    p.fs-14.text-muted Новартис Урунлери

                  .d-flex.align-items-center.justify-content-between
                    .card__prices
                      .card__price.price
                        span 190
                        span ₽

                    a.link.basket(href="#")
                      svg(width='37' height='37')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")


          .swiper-button-next
            svg(width="18" height="18")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow")
          .swiper-button-prev
            svg(width="18" height="18")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow")

    .appeal-block.mb-90
      .container.pt-5.pb-5.mt-xl-5.mb-5.mb-sm-0.mb-xl-5
        .row
          .col-sm-7.col-md-6.col-lg-5
            .appeal-block__text.mb-4.mb-sm-5
              h2.fw-600.mb-2 Лекарства по социальным ценам
              p.color-green 13 аптечных пунктов
              p.fs-18 Покупайте аптечные товары с минимальной наценкой — в наших «филиалах социальных цен».

            a.btn.btn--green(href="#")
              svg.mr-2(width="11" height="16")
                use(xlink:href="img/sprite/sprite.svg#icon-pin")
              span Смотреть адреса

      .appeal-block__sale
        p.mb-0 Экономия<br> от 20%

      .appeal-block__map

    .mb-90
      .container
        .mb-5.title-with-link
          h2.fw-600.pr-3 Новости
          a.link.link--light-grey.link-arrow-animate(href="#")
            span.mr-2 Все новости
            .link-arrow-animate__container
              .link-arrow-animate__svg
                svg.mr-1(width="25" height="10")
                  use(xlink:href="img/sprite/sprite.svg#icon-arrow-long")
                svg(width="25" height="10")
                  use(xlink:href="img/sprite/sprite.svg#icon-arrow-long")

        .row
          .col-sm-6.col-md-4.col-lg-6.mb-4
            a.link.card.card--news.card--lg(href="#")
              .card__side.bg(style="background-image: url(img/news-1.jpg);")

              .card__main
                p.fw-600 Вакцина против COVID-19: противопоказания
                p.fs-13 Покупайте аптечные товары с минимальной наценкой — в наших «филиалах социальных цен».

                .date
                  span 1 октября 2021

          .col-sm-6.col-md-4.col-lg-3.mb-4
            a.link.card.card--news(href="#")
              .card__side.bg(style="background-image: url(img/news-2.jpg);")

              .card__main
                p.fw-600 Интернет-магазин временно не работает

                .date
                  span 1 октября 2021

          .col-sm-6.col-md-4.col-lg-3.mb-4
            a.link.card.card--news(href="#")
              .card__side.bg(style="background-image: url(img/news-3.jpg);")

              .card__main
                p.fw-600 Полезная косметика для губ

                .date
                  span 1 октября 2021

    .advantages.mb-90
      .container
        h2.fw-600.mb-5 Преимущества

        .row
          .col-sm-6.col-md-3.mb-2
            .advantages__item
              .advantages__image
                svg(width='90' height='90')
                  use(xlink:href="img/sprite/sprite.svg#icon-adv-3")
              p.fw-500 Ассоритмент более 60 000 товаров

          .col-sm-6.col-md-3.mb-2
            .advantages__item
              .advantages__image
                svg(width='90' height='90')
                  use(xlink:href="img/sprite/sprite.svg#icon-adv-2")
              p.fw-500 Акции и скидки

          .col-sm-6.col-md-3.mb-2
            .advantages__item
              .advantages__image
                svg(width='90' height='90')
                  use(xlink:href="img/sprite/sprite.svg#icon-adv-1")
              p.fw-500 96 аптек по всему городу

          .col-sm-6.col-md-3
            .advantages__item
              .advantages__image
                svg(width='90' height='90')
                  use(xlink:href="img/sprite/sprite.svg#icon-adv-4")
              p.fw-500 Готовность заказа от 20 минут

    .pharmacies.mb-90
      .container
        h2.fw-600.mb-5 Аптеки

        .d-flex.flex-wrap.pharmacies__links.mb-4
          a.link.d-block.active(href="#")
            span Все аптеки —
            span 95
          a.link.d-block(href="#")
            span Производственные —
            span 9
          a.link.d-block(href="#")
            span Офтольмалогические кабинеты —
            span 9
          a.link.d-block(href="#")
            span Медицинские центры —
            span 9


        .row
          .col-md-7.col-lg-8.mb-3.mb-md-0
            .map
              iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa6a6cc211d1fec549c2b86b56285076f1515230867d2d302fa44c273c4fe100f&amp;source=constructor" width="734" height="469" frameborder="0")


          .col-md-5.col-lg-4
            .pharmacies__side
              h3.fw-600.color-green.mb-4.pb-2 Список аптек

              ul.list.pharmacies__list
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Большевистская, 34
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Достоевского, 8
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Кропоткина, 126/1
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 ул. Тюленина, 21/1
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 2-я Чулымская, 113
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Фасадная, 17/1
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 2-я Чулымская, 113
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Фасадная, 17/1
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 2-я Чулымская, 113
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Фасадная, 17/1

    .alphabet.pt-xl-4.pb-4.mb-40
      .container
        h2.fw-600.mb-5 Список лекарств по алфавиту

        .d-flex.flex-wrap
          a.link.link--green.fw-500(href="#") А
          a.link.link--green.fw-500(href="#") Б
          a.link.link--green.fw-500(href="#") В
          a.link.link--green.fw-500(href="#") Г
          a.link.link--green.fw-500(href="#") Д
          a.link.link--green.fw-500(href="#") Е
          a.link.link--green.fw-500(href="#") Ж
          a.link.link--green.fw-500(href="#") З
          a.link.link--green.fw-500(href="#") И
          a.link.link--green.fw-500(href="#") К
          a.link.link--green.fw-500(href="#") Л
          a.link.link--green.fw-500(href="#") М
          a.link.link--green.fw-500(href="#") Н
          a.link.link--green.fw-500(href="#") О
          a.link.link--green.fw-500(href="#") П
          a.link.link--green.fw-500(href="#") Р
          a.link.link--green.fw-500(href="#") С
          a.link.link--green.fw-500(href="#") Т
          a.link.link--green.fw-500(href="#") У
          a.link.link--green.fw-500(href="#") Ф
          a.link.link--green.fw-500(href="#") Х
          a.link.link--green.fw-500(href="#") Ц
          a.link.link--green.fw-500(href="#") Ч
          a.link.link--green.fw-500(href="#") Ш
          a.link.link--green.fw-500(href="#") Э
          a.link.link--green.fw-500(href="#") Ю
          a.link.link--green.fw-500(href="#") Я

        .icon-plus
          img(src="/img/icons/plus.svg", alt="")

block footer
  +footer()

  .shade Ваши данные отправлены

  a.btn-up(href="#" aria-label="Наверх" id="upbutton")
    svg(width="22" height="25")
      use(xlink:href="img/sprite/sprite.svg#icon-arrow")

block modal
  //- +menu()
  //- +desk-menu()

