extends layouts/layout
include components/header
include components/footer
include components/desk-menu
include components/mob-menu
include components/menu

block title
  | Страница новостей

block header
  +header()

block main
  main
  .intro.mb-90.pt-5.pb-5 
    .container 
      ul.list.breadcrumbs.d-none.d-md-flex.mb-5
          li.breadcrumbs__item
            a.breadcrumbs__link(href="main.html")
              span.breadcrumbs__span Главная
              span.breadcrumbs__arrow
                svg(width="8" height="8")
                  use(xlink:href="img/sprite/sprite.svg#icon-arrow")
          li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--current Новости

      h2.fw-600.mb-2 Новости

  .mb-90 
    .container
      .row 
        .col-md-8
          .mb-5 
            h2.fw-600.mb-5 Как правильно хранить лекарства дома: советы от специалиста
            p.lh-15 Возможно, как и большинство из нас – вперемешку таблетки и пузырьки в одной большой коробке, либо в ящике шкафа. Закупим препаратов впрок, и ждем. Как заболит голова или живот – поищем в кучке, найдем что надо, а потом закинем обратно. Однако такой подход может (не дай Бог, конечно) привести к негативным последствиям.
            p.lh-15 Возможно, как и большинство из нас – вперемешку таблетки и пузырьки в одной большой коробке, либо в ящике шкафа. Закупим препаратов впрок, и ждем. Как заболит голова или живот – поищем в кучке, найдем что надо, а потом закинем обратно. Однако такой подход может (не дай Бог, конечно) привести к негативным последствиям. 

          .mb-5 
            h2.fw-600.mb-5 Интересные факты о хранении
            p.fw-500.fs-18.mb-4 1. Храните лекарства в пластиковых боксах
            p.fw-500.fs-18.mb-4 2. Таблетки стоит оставлять в коробках
            p.fw-500.fs-18.mb-4 3. Не выбрасывайте рецепт 
            p.fw-500.fs-18.mb-4 4. Всегда следите за сроком годности
            p.fw-500.fs-18.mb-4 5. Не покупайте лекарства впрок

      .lead.lead--info.mb-5 
        h3.mb-4.fw-600 Главные принципы хранения лекарств
        p На самом деле есть простые, но важные правила, соблюдение которых обеспечит сохранность лекарств и максимальную пользу от содержимого домашней аптечки. Об этом нам рассказала руководитель филиала «Аптека №2» муниципального предприятия г. Новосибирска «Новосибирская аптечная сеть» 
        p Татьяна Николаевна Нестерова.

        .lead__img 
          img(src="/img/icons/lead.svg", alt="")

      .row.mb-5 
        .col-md-6.d-flex.flex-column.justify-content-center 
          h2.fw-600.mb-5 Правильное хранение
          p.fs-18.fw-600 Вот как вы храните у себя дома лекарства? 
          p.lh-15 Возможно, как и большинство из нас – вперемешку таблетки и пузырьки в одной большой коробке, либо в ящике шкафа. Закупим препаратов впрок, и ждем. Как заболит голова или живот – поищем в кучке, найдем что надо, а потом закинем обратно. Однако такой подход может (не дай Бог, конечно) привести к негативным последствиям.

        .col-md-6 
          .photo.bg(style="background-image: url(img/news.jpg);")


      .mb-5   
        h3.fw-600.mb-5 Курсы повышения квалификации по направлениям:
        ul.list.list--point 
          li.mb-4 
            p «Терапия неотложных состояний»
          li.mb-4 
            p «Кардиология в терапевтической практике»
          li.mb-4 
            p «Гастроэнтерология в терапевтической практике»
          li.mb-4 
            p «Геронтология»
          li.mb-4 
            p «Экспертиза временной нетрудоспособности и качества оказания медицинской помощи»

      .mb-5 
        h2.mb-5.fw-600 Вопрос-ответ

      .lead.mb-5 
        h3.mb-4.fw-600 Главные принципы хранения лекарств
        p На самом деле есть простые, но важные правила, соблюдение которых обеспечит сохранность лекарств и максимальную пользу от содержимого домашней аптечки. Об этом нам рассказала руководитель филиала «Аптека №2» муниципального предприятия г. Новосибирска «Новосибирская аптечная сеть» 
        p Татьяна Николаевна Нестерова.

block footer
  +footer()

  .shade Ваши данные отправлены

  .shade.shade--info.js-info Реализация осуществляется только по рецепту врача

  a.btn-up(href="#" aria-label="Наверх" id="upbutton")
    svg(width="22" height="25")
      use(xlink:href="img/sprite/sprite.svg#icon-arrow")

block modal
  +menu()
  +desk-menu()
  +mob-menu()
