mixin desk-menu(data)
  .desk-menu.js-desk-menu(class!=attributes.class)
    .container
      .row
        .col-md-3
          p.desk-menu__title Обувь
          ul.list.list--dot
            li
              a.link.link--black.d-block(href="#") Обувь
            li
              a.link.link--black.d-block(href="#") Одежда
            li
              a.link.link--black.d-block(href="#") Охота
            li
              a.link.link--black.d-block(href="#") Рыбалка
            li
              a.link.link--black.d-block(href="#") Спорт
            li
              a.link.link--black.d-block(href="#") Кемпинг
            li
              a.link.link--black.d-block(href="#") Зоотовары
            li
              a.link.link--black.d-block(href="#") Фейрверки

        .col-md-3
          p.desk-menu__title Одежда
          ul.list.list--dot
            li
              a.link.link--black.d-block(href="#") Обувь
            li
              a.link.link--black.d-block(href="#") Одежда
            li
              a.link.link--black.d-block(href="#") Охота
            li
              a.link.link--black.d-block(href="#") Рыбалка
            li
              a.link.link--black.d-block(href="#") Спорт
            li
              a.link.link--black.d-block(href="#") Кемпинг
            li
              a.link.link--black.d-block(href="#") Зоотовары
            li
              a.link.link--black.d-block(href="#") Фейрверки

        .col-md-3
          p.desk-menu__title Фейрверки
          ul.list.list--dot
            li
              a.link.link--black.d-block(href="#") Обувь
            li
              a.link.link--black.d-block(href="#") Одежда
            li
              a.link.link--black.d-block(href="#") Охота
            li
              a.link.link--black.d-block(href="#") Рыбалка
            li
              a.link.link--black.d-block(href="#") Спорт

        .col-md-3
          p.desk-menu__title Охота
          ul.list.list--dot
            li
              a.link.link--black.d-block(href="#") Обувь
            li
              a.link.link--black.d-block(href="#") Одежда
            li
              a.link.link--black.d-block(href="#") Охота
            li
              a.link.link--black.d-block(href="#") Рыбалка
            li
              a.link.link--black.d-block(href="#") Спорт

