mixin desk-menu(data)
  .desk-menu.js-desk-menu(class!=attributes.class)
    .container
      .row 
        .col-md-4 
          .desk-menu__side
            ul.list 
              li 

        .col-ms-8
          .desk-menu__main