mixin footer(data)
  footer.footer(class!=attributes.class)
    .footer__top
      .container.pt-4.pb-4
        form(action="/" method="POST")
          .row
            .col-md-6.d-flex.align-items-center.mb-4.mb-md-0
              .footer__icon
                img(src="/img/icons/letter.svg", alt="")

              label.mb-0(for="input-subscribe")
                h3.fw-600.mb-1.color-white.fs-30 Подпишитесь на акции
                p.fw-300.mb-0.color-white Отправляем письмо раз в неделю

            .col-md-6.fieldset
              input.mr-30(type="email" placeholder="Введите почту" id="input-subscribe" autocomplete="off"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required)
              button.btn.btn--white(type="submit")
                span.d-none.d-sm-block.d-md-none.d-lg-block Отправить
                svg.d-sm-none.d-md-block.d-lg-none(width="18" height="22")
                  use(xlink:href="img/sprite/sprite.svg#icon-arrow")


    .container
      .footer__middle.pt-5.pb-5
        .row
          .col-lg-3.col-md-4.col-sm-6
            a.link.pb-5.logo(href="/")
              img(src="/img/logo.svg", alt="")
              p Новосибирская<br> аптечная сеть

            a.link.link--grey.d-flex.flex-column.pb-4.mb-2.fs-22(href="tel:+73832301818")
              span.fw-600.d-block +7 (383) 230-18-18
              span.fs-14.fw-500.text-muted Единая справочная

            a.link.link--grey.d-flex.flex-column.pb-5.fs-22(href="tel:+73832301746")
              span.fw-600 +7 (383) 230-17-46
              span.fs-14.fw-500.text-muted Приемная директора

            p.color-green.fs-14 Адрес: 630005, Новосибирская область, город Новосибирск, ул. Гоголя дом 43/1, этаж 2

          .col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-0
            p.fs-18.fw-600.mb-4 Компания

            ul.list
              li
                a.link.link--grey.d-block.pb-3(href="#") Руководители
              li
                a.link.link--grey.d-block.pb-3(href="#") Производство
              li
                a.link.link--grey.d-block.pb-3(href="#") Новости
              li
                a.link.link--grey.d-block.pb-3(href="#") Закупки
              li
                a.link.link--grey.d-block.pb-3(href="#") Вакансии
              li
                a.link.link--grey.d-block.pb-3(href="#") Контакты
              li
                a.link.link--grey.d-block.pb-3(href="#") Программа лояльности
              li
                a.link.link--grey.d-block.pb-3(href="#") Продажа дистанционным способом
              li
                a.link.link--grey.d-block.pb-3(href="#") Противодествие коррупции

          .col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-0
            p.fs-18.fw-600.mb-4 Услуги

            ul.list
              li
                a.link.link--grey.d-block.pb-3(href="#") Перечень услуг
              li
                a.link.link--grey.d-block.pb-3(href="#") Наши специалисты
              li
                a.link.link--grey.d-block.pb-3(href="#") Аренда кабинетов
              li
                a.link.link--grey.d-block.pb-3(href="#") Консультация врача
              li
                a.link.link--grey.d-block.pb-3(href="#") Расписание
              li
                a.link.link--grey.d-block.pb-3(href="#") Доступная среда
              li
                a.link.link--grey.d-block.pb-3(href="#") Наши цены
              li
                a.link.link--grey.d-block.pb-3(href="#") Лицензии

          .col-lg-3.col-md-4.col-sm-6
            p.fs-18.fw-600.mb-4 Аптеки

            ul.list.mb-4
              li
                a.link.link--grey.d-block.pb-3(href="#") Все аптеки
              li
                a.link.link--grey.d-block.pb-3(href="#") Круглосуточные
              li
                a.link.link--grey.d-block.pb-3(href="#") Производственные
              li
                a.link.link--grey.d-block.pb-3(href="#") Филиал социальных цен

            .socials.d-flex
              a.link.link--green.d-block.mr-3(href="#")
                svg(width='27' height='27')
                  use(xlink:href="img/sprite/sprite.svg#icon-ok")

              a.link.link--green.d-block.mr-3(href="#")
                svg(width='27' height='27')
                  use(xlink:href="img/sprite/sprite.svg#icon-insta")

              a.link.link--green.d-block(href="#")
                svg(width='27' height='27')
                  use(xlink:href="img/sprite/sprite.svg#icon-vk")

      .footer__bottom.pb-4
        small.mb-2.mb-md-0 &copy; МП НАС

        a.link.link--grey.link--underlined.mb-2.mb-md-0(href="#")
          span.fs-14 Политика обработки персональных данных

        a.link.link--grey.fs-14(href="https://www.e1media.ru/" target="_blank") Разработка — Е1-Медиа
