mixin header(data)
  header.header(class!=attributes.class)
    .header__top.d-none.d-lg-flex
      .container
        .d-flex.pr-4
          a.d-flex.align-items-start.pr-4(href="#")
            svg.mr-2(width="11" height="16")
              use(xlink:href="img/sprite/sprite.svg#icon-pin")
            span.fs-14.fw-300 Найти аптеку
          a(href="#")
            span Версия для слабовидящих

    .container
      .header__middle
        a.logo.link.link--blue(href="#")


        a.tel.link.d-none.d-sm-block.link--black(href="tel:+78004324354")
          span.d-block.fw-600 8 800 432-43-54
          span.d-block.fs-14.fw-500.text-muted Единая справочная

        .user-nav
          a.tel.link.d-block.d-sm-none.link--black.mr-2(href="tel:+78004324354")
            svg(width="25" height="25")
              use(xlink:href="img/sprite/sprite.svg#icon-tel")

          a.link.link--black.d-block.mr-3.mr-md-4.mr-lg-0(href="#")
            svg(width="25" height="25")
              use(xlink:href="img/sprite/sprite.svg#icon-user")

          a.link.link--black.d-block.pr-3.mr-2.mr-sm-3.mr-md-4(href="#")
            span.goods-number 0
            svg(width="25" height="25")
              use(xlink:href="img/sprite/sprite.svg#icon-basket-2")

          a.link.link--black.d-block.pr-3.mr-2.mr-sm-3.mr-md-4(href="#")
            span.goods-number 0
            svg(width="25" height="25")
              use(xlink:href="img/sprite/sprite.svg#icon-heart")

          button.btn.burger.js-open-menu.d-lg-none(type="button" aria-label="Меню")
            span.burger__span.burger__span--1
            span.burger__span.burger__span--2
            span.burger__span.burger__span--3.mb-0

      .header__bottom.d-none.d-lg-flex
        button.btn.btn--transparent.btn--catalog.js-desk-menu-btn.mr-3(type="button")
          .burger.mr-2
            span.burger__span.burger__span--1
            span.burger__span.burger__span--2
            span.burger__span.burger__span--3.mb-0
          span Каталог

        .header__form.d-none.d-lg-block.mr-4
          form(action="/" method="GET")
            label.fieldset
              input(type="text" name="search" placeholder="Поиск по сайту" autoComplete="off")

