mixin menu(data)
  .menu(class!=attributes.class)
    .container.d-flex.flex-column
      button.btn.btn--green.js-mob-menu-btn.mb-4.mr-auto(type="button") Каталог

      a.link.link-sales.mb-4.pb-2.mr-auto(href="#")
        .icon
          svg(width="16" height="21")
            use(xlink:href="img/sprite/sprite.svg#icon-persent")
        span Акции

      .accordion.mb-3
        .accordion__item
          a.accordion__label.link.d-flex.align-items-center.link--open(href="#")
            span.pr-1 Медицинский центр
            svg(width="15" height="15")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow-nav")

          .accordion__content
            ul.list
              li
                a.link(href="#") Медицинский центр
              li
                a.link(href="#") Медицинский центр
              li
                a.link(href="#") Медицинский центр

        .accordion__item
          a.accordion__label.link.d-flex.align-items-center.link--open(href="#")
            span.pr-1 Кабинет офтальмолога
            svg(width="15" height="15")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow-nav")

          .accordion__content
            ul.list
              li
                a.link(href="#") Кабинет офтальмолога
              li
                a.link(href="#") Кабинет офтальмолога
              li
                a.link(href="#") Кабинет офтальмолога


      a.tel.link.d-flex.mb-4.mr-auto(href="tel:+78004324354")
        svg(width="25" height="25")
          use(xlink:href="img/sprite/sprite.svg#icon-tel")
        .d-block
          span.d-block.fw-600 8 800 432-43-54
          span.d-block.fs-14.fw-500.text-muted Единая справочная

      .d-flex.align-items-center.mb-3
        a.d-flex.align-items-start.pr-4.link.link--light-grey.js-ankor(href="/#pharmacy" data-href="#pharmacy")
          span.fs-18.fw-500 Найти аптеку

      a.link.link--light-grey.link-visual.mb-4(href="#" id="specialButton")
        span.fs-18.fw-500 Версия для слабовидящих

      .socials.d-flex.mb-4
        a.link.link--light-grey-2.d-block.mr-3(href="#")
          svg(width='32' height='32')
            use(xlink:href="img/sprite/sprite.svg#icon-ok")

        a.link.link--light-grey-2.d-block.mr-3(href="#")
          svg(width='32' height='32')
            use(xlink:href="img/sprite/sprite.svg#icon-insta")

        a.link.link--light-grey-2.d-block(href="#")
          svg(width='32' height='32')
            use(xlink:href="img/sprite/sprite.svg#icon-vk")

      .header__form
        form(action="/" method="GET")
          .d-flex.mb-1
            label.fieldset
              input(type="text" name="search" placeholder="Введите название или активный компонент" autoComplete="off")
            button.btn.btn--green.ml-2(type="submit") Найти
