mixin modal(data)
  .modal.animated-modal.modal--choose-pharmacy(id="modal-choose-pharmacy" style="display:none;"  class!=attributes.class)
    .modal__side.pl-3.pr-3.pb-4.pt-4
      .container.mt-2
        .d-flex
          h2.fw-600.mb-3.pr-4.pr-sm-5 Выберите аптеку для самовывоза
          button.btn.modal__close(type="button" aria-label="Закрыть" data-fancybox-close)

    .modal__main.pharmacies.pl-3.pr-3
      .container
        form(action="/" method="POST")   
        .row
          .col-md-7.mb-3.mb-md-0
            .map
              iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa6a6cc211d1fec549c2b86b56285076f1515230867d2d302fa44c273c4fe100f&amp;source=constructor" width="734" height="469" frameborder="0")


          .col-md-5
            .pharmacies__side
              h3.fw-600.color-green.mb-4.pb-2 Полный список аптек

              ul.list.pharmacies__list.mb-4
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Большевистская, 34
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Достоевского, 8
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Кропоткина, 126/1
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 ул. Тюленина, 21/1
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 2-я Чулымская, 113
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Фасадная, 17/1
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 2-я Чулымская, 113
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Фасадная, 17/1
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 2-я Чулымская, 113
                li
                  a.link.d-flex.align-items-center.pb-3(href="#")
                    svg.mr-2(width='9' height='13')
                      use(xlink:href="img/sprite/sprite.svg#icon-pin")
                    p.mb-0 Фасадная, 17/1


              button.btn.btn--green(type="submit") Применить

  .modal.animated-modal.modal--delivery(id="modal-delivery" style="display:none;"  class!=attributes.class)
    .modal__side.pl-3.pr-3.pb-4.pt-4
      .container.mt-2
        .d-flex
          h2.fw-600.mb-3.pr-4.pr-sm-5 Введите адрес доставки
          button.btn.modal__close(type="button" aria-label="Закрыть" data-fancybox-close)

    .modal__main.pl-3.pr-3
      .container
        form(action="/" method="POST")
          .row
            .col-12 
              label.fieldset.mb-4
                span.fieldset__label Улица
                input(type="text" name="street" autocomplete="off" required)

          .row
            .col-md-6 
              label.fieldset.mb-4
                span.fieldset__label Дом, корпус
                input(type="text" name="building" autocomplete="off" required)

            .col-md-6
              label.fieldset.mb-4
                span.fieldset__label Квартира
                input.js-number(type="text" name="flat" autocomplete="off" required)

          .row.mb-3
            .col-md-6 
              label.fieldset.mb-4
                span.fieldset__label Дата доставки
                input(type="date" name="date" autocomplete="off" required)

            .col-md-6
              label.fieldset.mb-4
                span.fieldset__label Время доставки
                select
                  option(value="") Время 
                  option(value="8-12") C 8 до 12
                  option(value="12-16") C 12 до 16
                  option(value="16-20") C 16 до 20



          p.mb-4.fs-14.text-muted Менеджер перезвонит вам приблизительно за час до назначенного интервала доставки

          p.mb-4.color-green.fw-600 
            span.pr-1 Стоимость доставки: 
            span.pr-1 0 
            span ₽

          button.btn.btn--green.mt-2(type="submit") Продолжить

  .modal.animated-modal.modal--analogs(id="modal-analogs" style="display:none;"  class!=attributes.class)
    .modal__side.pl-3.pr-3.pb-4.pt-4
      .container.mt-2
        .d-flex.flex-column
          h2.fw-600.mb-3.pr-4.pr-sm-5 
            span.pr-1 Аналоги этого препарата 
            span.color-green 15&nbsp;шт 
          p 
            span.mr-1 Действующее вещество:
            a.link.link--green(href="#") парацетомол
          button.btn.modal__close(type="button" aria-label="Закрыть" data-fancybox-close)

    .modal__main.pl-3.pr-3
      .container
        .goods-analogs
          .goods-analogs__item.card.card--good-row 
            a.link.d-block.card__img(href="#") 
              img(src="/img/analogs-1.png", alt="")
            
            .card__text.d-flex.flex-column
              a.link.link--grey.d-block.fs-14.pb-3.fw-500(href="#") Аквадетрим (витамин Д3) капли внутр. 15тыс.МЕ/мл 10мл №1

              .card__favorite.mb-0
                label
                  input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                  span
                    svg(width="20" height="16")
                      use(xlink:href='img/sprite/sprite.svg#icon-fav')
                    svg(width="20" height="16")
                      use(xlink:href='img/sprite/sprite.svg#icon-fav-2')

            p.fw-600.fs-18.mb-0.card__price 
              span 175,50
              span ₽

            a.link.link-basket(href='#')
              svg(width='37' height='37')
                use(xlink:href='img/sprite/sprite.svg#icon-basket')

          .goods-analogs__item.card.card--good-row 
            a.link.d-block.card__img(href="#") 
              img(src="/img/analogs-2.png", alt="")
            
            .card__text.d-flex.flex-column
              a.link.link--grey.d-block.fs-14.pb-3.fw-500(href="#") Компливит таб. п.п.о. №60

              .card__favorite.mb-0
                label
                  input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                  span
                    svg(width="20" height="16")
                      use(xlink:href='img/sprite/sprite.svg#icon-fav')
                    svg(width="20" height="16")
                      use(xlink:href='img/sprite/sprite.svg#icon-fav-2')

            p.fw-600.fs-18.mb-0.card__price 
              span 239
              span ₽

            a.link.link-basket(href='#')
              svg(width='37' height='37')
                use(xlink:href='img/sprite/sprite.svg#icon-basket')
          
          .goods-analogs__item.card.card--good-row 
            a.link.d-block.card__img(href="#") 
              img(src="/img/analogs-3.png", alt="")
            
            .card__text.d-flex.flex-column
              a.link.link--grey.d-block.fs-14.pb-3.fw-500(href="#") Супрадин таб. шип. №20

              .card__favorite.mb-0
                label
                  input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                  span
                    svg(width="20" height="16")
                      use(xlink:href='img/sprite/sprite.svg#icon-fav')
                    svg(width="20" height="16")
                      use(xlink:href='img/sprite/sprite.svg#icon-fav-2')

            p.fw-600.fs-18.mb-0.card__price 
              span 567
              span ₽

            a.link.link-basket(href='#')
              svg(width='37' height='37')
                use(xlink:href='img/sprite/sprite.svg#icon-basket')

          .goods-analogs__item.card.card--good-row 
            a.link.d-block.card__img(href="#") 
              img(src="/img/analogs-1.png", alt="")
            
            .card__text.d-flex.flex-column
              a.link.link--grey.d-block.fs-14.pb-3.fw-500(href="#") Аквадетрим (витамин Д3) капли внутр. 15тыс.МЕ/мл 10мл №1

              .card__favorite.mb-0
                label
                  input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                  span
                    svg(width="20" height="16")
                      use(xlink:href='img/sprite/sprite.svg#icon-fav')
                    svg(width="20" height="16")
                      use(xlink:href='img/sprite/sprite.svg#icon-fav-2')

            p.fw-600.fs-18.mb-0.card__price  
              span 175,50
              span ₽

            a.link.link-basket(href='#')
              svg(width='37' height='37')
                use(xlink:href='img/sprite/sprite.svg#icon-basket')
