.container {
  position: relative;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  &--contain {
    background-size: contain;
  }
}

.mt-auto {
  margin-top: auto;
}

.p-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.mb-90 {
  margin-bottom: 90px;

  @media (max-width: $media-td) {
    margin-bottom: 80px;
  }

  @media (max-width: $media-tb) {
    margin-bottom: 60px;
  }
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}

.h-500 {
  height: 500px;

  @media (max-width: $media-td) {
    height: 400px;
  }

  @media (max-width: $media-tb) {
    height: 300px;
  }
}

.border-radius {
  border-radius: 15px;
}

.bg-light-blue {
  background-color: $light-blue;
}

.title-with-link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
    font-size: 20px;

    @media (max-width: $media-md) {
      font-size: 18px;
    }

    @media (max-width: $media-tb) {
      font-size: 16px;
    }

  }

  @media (max-width: $media-sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.photo {
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
}

.gallery {
  height: 285px;
  border-radius: 15px;
}