.link {
  transition: all 0.3s;
}

.link--black {
  color: $black;

  &:active {
    color: $light-blue;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $light-blue;
    }
  }
}

.link--green {
  color: $green;

  &:active {
    color: $red;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $red;
    }
  }
}

.link--grey {
  color: $grey;

  &:active {
    color: $red;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $red;
    }
  }
}

.link--light-grey-2 {
  color: $light-grey-2;

  &:active {
    color: $red;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $red;
    }
  }
}

.link--light-grey {
  color: rgba(67, 66, 66, 0.7);

  &:active {
    color: $red;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $red;
    }
  }
}

.link--underlined {
  span {
    border-bottom: 1px dashed;
  }
}

.link-arrow-animate {
  display: flex;
  justify-content: center;

  @media (min-width: $media-tb) {
    &:hover {
      .link-arrow-animate__svg {
        transform: translateX(3px);
      }
    }
  }
}

.link-arrow-animate__container {
  overflow: hidden;
  width: 30px;
  height: 22px;
}

.link-arrow-animate__svg {
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  transition: transform .467s cubic-bezier(.55,0,.1,1);
  transform: translateX(-30px);

  svg {
    flex-shrink: 0;
  }
}

.link-arrow-animate--sm {
  justify-content: flex-start;

  .link-arrow-animate__container {
    width: 15px;
    height: 20px;
  }

  .link-arrow-animate__svg {
    transform: translateX(-10px);
  }
}

.link-visual {
  display: flex;
  align-items: center;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $green;
    transition: all 0.3s;
  }

  @media (min-width: $media-tb) {
    &:hover {
      .icon {
        background-color: $red;
      }
    }
  }
}

.link-sales {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: $yellow;
    transition: all 0.3s;
    margin-right: 7px;
  }

  @media (min-width: $media-tb) {
    &:hover {
      .icon {
        background-color: $red;
      }
    }
  }
}