.link {
  transition: all 0.3s;
}

.link--black {
  color: $black;

  &:active {
    color: $light-blue;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $light-blue;
    }
  }
}

.link--green {
  color: $green;

  &:active {
    color: $red;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $red;
    }
  }
}

.link--grey {
  color: $grey;

  &:active {
    color: $red;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $red;
    }
  }
}

.link--underlined {
  span {
    border-bottom: 1px dashed;
  }
}
